<% content_for(:title, "Components: Typography") %>

<%= render layout: "layout", locals: { wrapper: false } do %>
  <div class="grid grid-cols-lg-2">
    <%= render "headings" %>
    <%= render "lists" %>
    <%= render "inline" %>
    <%= render "colors" %>
    <%= render "blockquotes" %>
    <%= render "code" %>
  </div>
<% end %>
