<div class="alert alert-dismissable <%= html_class %>" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <%= icon %>

  <div class="alert-content">
    <% if alert[:title] %>
      <h3><%= alert[:title] %></h3>
    <% end %>

    <p><%= alert[:message] %></p>

    <%= yield if block_given? %>
  </div>
</div>
