!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ content: "IE=edge,chrome=1", 'http-equiv': "X-UA-Compatible" }

    %meta{ name: "turbolinks-cache-control", content: "no-cache" }

    = csrf_meta_tags

    %title Trestle

    = stylesheet_link_tag "trestle/admin", 'data-turbolinks-track': 'reload'

    = hook :stylesheets

    = javascript_include_tag "turbolinks" if defined?(Turbolinks)
    = javascript_include_tag "trestle/admin", 'data-turbolinks-track': 'reload'

    = hook :javascripts

    = yield :head

    = hook :head

  %body
    .app-wrapper
      = render "trestle/shared/sidebar"

      .app-container
        = render "trestle/shared/header"

        %main.app-main
          = yield

        = render "trestle/shared/footer"
