<% if flash[:message] -%>
  <div class="alert alert-success">
    <%= icon("alert-icon ion-ios-checkmark-outline") %>
    <div class="alert-content">
      <h3><%= t("trestle.flash.success.title") %></h3>
      <p><%= flash[:message] %></p>
    </div>
  </div>
<% elsif flash[:error] -%>
  <div class="alert alert-danger">
    <%= icon("alert-icon ion-ios-close-outline") %>
    <div class="alert-content">
      <h3><%= t("trestle.flash.failure.title") %></h3>
      <p><%= flash[:error] %></p>
    </div>
  </div>
<% end -%>
