<% content_for(:title, "Components: Miscellaneous") %>

<%= render layout: "layout", locals: { wrapper: false } do %>
  <div class="grid grid-cols-lg-2">
    <div class="grid">
      <%= render "badges" %>
      <%= render "tags" %>
      <%= render "progress" %>
      <%= render "modals" %>
    </div>

    <div class="grid">
      <%= render "timestamps" %>
      <%= render "tooltips" %>
      <%= render "avatars" %>
    </div>

    <div class="grid-col-full">
      <%= render "cards" %>
    </div>

    <div class="grid-col-full">
      <%= render "tabs_example" %>
    </div>
  </div>
<% end %>
