<%= container do |c| %>
  <% c.sidebar class: "order-first" do %>
    <h2>Basic buttons</h2>
    <p>Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
  <% end %>

  <div class="mb-3">
    <%= button_tag "Primary", class: "btn btn-primary" %>
    <%= button_tag "Secondary", class: "btn btn-secondary" %>
    <%= button_tag "Success", class: "btn btn-success" %>
    <%= button_tag "Danger", class: "btn btn-danger" %>
    <%= button_tag "Warning", class: "btn btn-warning" %>
    <%= button_tag "Info", class: "btn btn-info" %>
    <%= button_tag "Light", class: "btn btn-light" %>
    <%= button_tag "Dark", class: "btn btn-dark" %>
  </div>

  <div>
    <%= button_tag "Primary", class: "btn btn-primary", disabled: true %>
    <%= button_tag "Secondary", class: "btn btn-secondary", disabled: true %>
    <%= button_tag "Success", class: "btn btn-success", disabled: true %>
    <%= button_tag "Danger", class: "btn btn-danger", disabled: true %>
    <%= button_tag "Warning", class: "btn btn-warning", disabled: true %>
    <%= button_tag "Info", class: "btn btn-info", disabled: true %>
    <%= button_tag "Light", class: "btn btn-light", disabled: true %>
    <%= button_tag "Dark", class: "btn btn-dark", disabled: true %>
  </div>
<% end %>
