<% content_for(:title, "Components: Buttons") %>

<%= render layout: "layout", locals: { wrapper: false } do %>
  <div class="grid grid-cols-lg-2">
    <div class="grid">
      <%= render "basic" %>
      <%= render "outline" %>
      <%= render "icon" %>
    </div>

    <div class="grid">
      <%= render "sizes" %>
      <%= render "groups" %>
      <%= render "dropdowns" %>
    </div>
  </div>
<% end %>
