<% content_for(:title, admin.t("titles.index", default: "Listing %{pluralized_model_name}")) %>

<% toolbar(:primary) do %>
  <%= admin_link_to action: :new, class: "btn btn-default btn-lg" do %>
    <%= icon("fa fa-plus") %>
    <span class="sr-only"><%= admin.t("buttons.new", default: "New %{model_name}") %></span>
  <% end if admin.actions.include?(:new) %>
<% end %>

<% content_for(:utilities) do %>
  <%= render "scopes" if admin.scopes.any? %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <% if hook?("resource.index.header") %>
    <header class="main-content-header">
      <%= hook("resource.index.header") %>
    </header>
  <% end %>

  <%= render "trestle/table/table", table: admin.table, collection: collection %>

  <footer class="main-content-footer">
    <%= hook("resource.index.footer") %>

    <%= render "trestle/table/pagination", collection: collection, entry_name: admin.model_name %>
  </footer>
<% end %>
