<% content_for(:title, t("admin.titles.index", default: "Listing %{pluralized_model_name}", model_name: admin.model_name.titleize, pluralized_model_name: admin.model_name.plural.titleize)) %>

<% content_for(:primary_toolbar) do %>
  <%= link_to admin.path(:new), class: "btn btn-default btn-lg", data: ({ behavior: "dialog" } if admin.form.dialog?) do %>
    <%= icon("fa fa-plus") %>
    <span class="sr-only"><%= t("admin.buttons.new", default: "New %{model_name}", model_name: admin.model_name) %></span>
  <% end unless admin.readonly? %>
<% end %>

<% content_for(:utilities) do %>
  <%= render "scopes" if admin.scopes.any? %>
<% end if admin.scopes.any? %>

<%= render layout: "layout" do %>
  <%= render "table" %>
<% end %>
