%header.content-header
  .btn-toolbar.primary-toolbar
    - if true
      = link_to "#", class: "btn btn-info" do
        %i.fa.fa-search-plus

      = button_tag "Save & Publish", class: "btn btn-success"
    - else
      = link_to "#", class: "btn btn-default" do
        %i.fa.fa-plus

  .btn-toolbar.secondary-toolbar
    - if true
      .btn-group
        = button_tag "Preview", class: "btn btn-primary"

      = link_to "#", class: "btn btn-danger", method: :delete, data: { toggle: "confirm-delete", placement: "bottom" } do
        %i.fa.fa-trash
        Delete Page

  %h1 Test Page

  %ol.breadcrumb
    %li.breadcrumb-item= link_to "Home", "/"
    %li.breadcrumb-item.active Test Page

.main-content-area
  %ul.nav.nav-tabs
    %li.active= link_to "Table", "#tab-table", role: "tab", data: { toggle: "tab" }
    %li= link_to "Lorem Ipsum", "#tab-lorem-ipsum", role: "tab", data: { toggle: "tab" }
    %li= link_to "Headings", "#tab-headings", role: "tab", data: { toggle: "tab" }
    %li
      = link_to "#tab-media", role: "tab", data: { toggle: "tab" } do
        Media
        %span.badge 12
    %li.pull-right
      = link_to "#tab-configuration", role: "tab", data: { toggle: "tab" } do
        %i.fa.fa-cog
        %span.sr-only Configuration

  .main-content-container
    .main-content
      #tab-table.tab-pane.active{ role: "tabpanel" }
        .table-container
          %table.trestle-table
            %thead
              %tr
                %th.select-row= check_box_tag "select"
                %th
                %th Name
                %th Email
                %th.text-center Status
                %th.text-center Followers
                %th.text-center Registered
                %th.actions

            %tbody
              - 10.times do |i|
                %tr{ data: { url: "auto" } }
                  %td.select-row= check_box_tag "select"
                  %td.text-center
                    .avatar= image_tag("https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(i.to_s)}.png?d=retro")
                  %td.text-nowrap= link_to "Person #{i+1}", "/people/#{i+1}"
                  %td= mail_to "person-#{i+1}@example.com"
                  %td.text-center
                    %span.label.label-success Active
                  %td.text-center= (1..100).to_a.sample
                  %td.text-center
                    %time.timestamp
                      = Time.now.strftime("#{Time.now.day.ordinalize} %b %Y")
                      %small= Time.now.strftime("%l:%M:%S %p")
                  %td.actions
                    = link_to "/123", class: "btn btn-delete", method: :delete, data: { toggle: "confirm-delete", placement: "left" } do
                      %i.fa.fa-trash

        %nav.pagination-container
          %p Displaying Users <strong>1&nbsp;-&nbsp;10</strong> of <b>1,234</b>

          %ul.pagination.pagination-sm
            %li.disabled
              %span &laquo;

            %li.active
              %span 1

            %li
              = link_to "#" do
                %span 2

            %li
              = link_to "#" do
                %span 3

            %li
              = link_to "#" do
                %span 4

            %li
              = link_to "#" do
                %span 5

            %li.gap.disabled
              %span &hellip;

            %li
              = link_to "#" do
                %span &raquo;

      #tab-lorem-ipsum.tab-pane{ role: "tabpanel" }
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius vehicula tellus, at sagittis libero dapibus eget. Praesent tellus urna, consectetur ac ornare eget, mattis id libero. Nam commodo facilisis nunc, ac suscipit sem. Sed viverra mauris tortor, sit amet lobortis augue lacinia at. Quisque at condimentum nulla. Duis dictum at metus nec sagittis. Nulla id nisi mauris.
        %p Aenean fringilla urna sit amet condimentum mattis. Fusce pellentesque sem ac volutpat viverra. Vestibulum iaculis gravida tempor. Phasellus in pretium eros, ut mollis dui. Curabitur vel arcu erat. Integer lacus risus, imperdiet sit amet cursus a, ornare at tortor. Phasellus varius tortor ac urna vestibulum tincidunt eget id erat. Aliquam volutpat libero leo, a imperdiet lacus tempor at. Nulla porttitor neque maximus, molestie eros at, sagittis dolor. Praesent ultrices tempor odio quis semper. Curabitur ut facilisis nibh. Maecenas id urna iaculis, efficitur dui at, lobortis nunc. Nullam vestibulum consectetur odio, vel rhoncus dolor elementum id. Phasellus sem eros, tincidunt in hendrerit at, dapibus et odio.

      #tab-headings.tab-pane{ role: "tabpanel" }
        %h1 Heading 1
        %h2 Heading 2
        %h3 Heading 3
        %h4 Heading 4
        %h5 Heading 5
        %h6 Heading 6

      #tab-media.tab-pane{ role: "tabpanel" }
        %ul.media-grid{ data: { behavior: "gallery" } }
          - 12.times do |i|
            %li
              - url = "https://unsplash.it/1200/900/?random&#{i}"
              %figure.fill.zoom= link_to image_tag(url), url

      #tab-configuration.tab-pane{ role: "tabpanel" }

    .main-content-sidebar
      %dl.small
        %dt Reference
        %dd ABC-123

        %dt Date:
        %dd 5 days ago
