%aside.app-sidebar
  %header.app-sidebar-header
    %button.navbar-toggle
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to "/", class: "navbar-brand" do
      %span.visible-xs-block.visible-lg-block= Trestle.config.site_title

  %nav.app-nav
    - Trestle.navigation.each do |group, items|
      %ul
        - if group.present?
          %li.nav-header= group.label

        - items.each do |item|
          %li
            = link_to item.path do
              %i.nav-icon{ class: item.icon }
              %span.nav-label= item.label

  %button.toggle-sidebar
